@model IEnumerable<PartialViewWithModel.Models.Product>

    <h1>Products</h1>

    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">
                                @product.Name
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
